stable-baselines==2.10.2
stable-baselines3
tensorflow<1.15.0
autopep8
gym
keras==2.2.4
matplotlib
numpy==1.18
opencv-contrib-python
pandas
pybullet==2.6.4
pytest
pydot
PyYAML==5.4
seaborn
h5py==2.10.0
scikit-learn
numba==0.43
tqdm
paramiko
tensorboard>=2.4.1
torch==1.9.1